@import '../../assets/style/mixin.scss';
.L-blocks{
    width: 100%;
    padding: 100px;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../../assets/img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    .title2{
        text-align: center;
        color: white;
        font-size: 80px;

        @include screen(390px) {

            font-size: 40px;
        }
    }
}