@import '../../../../assets/style/mixin.scss';

.item-client{
    width: 95%;
    padding: 30px;
    border: 1px solid silver;
    @include screen(1320px) {
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
    }

    .icon{
        font-size: 40px;
        color: #FEA116;
    }

    .info{
        display: flex;
        margin-top: 20px;
        
    }
    .imgrad{
        width: 20%;
        border-radius: 50%;
    }
    .names{
        margin-left: 20px;
    }
}