@import '../../../assets/style/mixin.scss';

.our-menu{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include screen(1300px) {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
}