@import '../../../assets/style/mixin.scss';

.centers{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;




.titles{

    display: flex;
    align-items: center;


    .titleabout{
        font-size: 20px;
        margin-right: 8px;
        color: #FEA116;
        font-family: 'MyFont2';
        margin-left: 8px;

    }

    .yelow{
        width: 70px;
        height: 3px;
        background-color: #FEA116;
    }
    
}

.welcom{
    font-size: 40px;
    font-family: 'MyFont';
}

}
.infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

    @include screen(910px) {
        flex-direction: column;

    }
    
    .titleabout{
        color: #FEA116;
        font-family: 'MyFont2';

    }

    .yelow{
        width: 70px;
        height: 3px;
        background-color: #FEA116;
        margin-left: 10px;
    }
    .one{
        margin-top: 30px;
        .cont{
            display: flex;
            align-items: center;
        }
        .inf{
            display: flex;
            align-items: center;

            .mail{
                margin-left: 10px;
                color: rgb(162, 162, 162);
            }
            .icon{
                color: #FEA116;
            }
        }
    }
}
.contus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include screen(696px) {
        flex-direction: column;
    }

    .leftcont{

        width: 49%;        
        .maps{
            width: 100%;
            height: 500px;
        }

        @include screen(969px) {
            width: 100%;
        }

    }

    .rightus{

        width: 49%;

        .topright{
            .inpt{
                padding: 15px 45px;
                margin-right: 10px;

                @include screen(969px) {
                    width: 95%;
                    margin: 0 auto;
                }
        
            }

        }
        .bottomright{
            .bottominp2{
                margin-top: 20px;
                width: 95.4%;
                padding: 15px;
            }

            .bottominp{
                margin-top: 20px;
                width: 95.4%;
                height: 150px;


            }
            

        }
        .send{
            margin-top: 20px;
            width: 95.4%;
            padding: 15px;
            border: none;
            background-color: #FEA116;
            transition: 0.2s;
            cursor: pointer;

            &:hover{
                background-color: #fab144;
            }
        }
        @include screen(969px) {
            width: 100%;
            margin-top: 50px;
        }


    }
}